:root {
  --width-mobile: 375px;
  --width-desktop: 1440px;

  --clr-primary-100: hsl(300, 69%, 71%);
  --clr-primary-700: hsl(257, 40%, 49%);

  --ff-headings: "Poppins", sans-serif;
  --weight-headings-regular: 400;
  --weight-headings-semibold: 600;

  --ff-body: "Open Sans", sans-serif;
  --weight-body-regular: 400;
}
